@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
 
}

.dark-color{
  color: #FFFFFFD9;
}

:root{
  --elevate-1:
    0 1px 3px 1px rgba(0, 0, 0, 0.15),
    0 1px 2px 0 rgba(0, 0, 0, 0.30);
  --elevate-2:
    0 1px 2px 0 rgba(0, 0, 0, 0.30),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.primary-color {
  color: #78fabd;
}
.active{
  box-shadow: var(--elevate-1);
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
  gap: 2px;
  border: none;
  background-color: white;
  color: black;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
}

.disable{
  background-color: transparent;
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
  gap: 2px;
  border: none;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
}

.btn{
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
  gap: 2px;
  border: none;
  background-color: white;
  color: black;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: var(--elevate-1);

}


.btn:hover,
.active:hover{
  filter: brightness(0.9);
}

.btn:active,
.active:active{
  transform: translateY(2px);
}

.button_cont img,
.footer-btn img{
  width: 24px;
  height: 24px;

}

.button_cont button,
.footer-btn button{
  display: flex;
  align-items: center;

}

.landing h3{
  width: 60%;
}

.hamburger,
.close{
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer;

}

.close{
  display: flex;
}

.hamburger:hover,
.close:hover{
  background-color: #f5f5f5;

}

.hamburger:active,
.close:active {
  background-color: #f5f5f5;
  transform: translateY(2px);


}

.landing h1{
  animation: slideInFromLeft 3s ease-out forwards;
  opacity: 0;
}

.bio-head{
  color: #78fabd;
}

.button_cont,
.footer-btn{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 80px;

}

h1 {
  font-size: 103px;
  letter-spacing: -1.5px;
  font-weight: 300;
  
}

h2 {
  font-size: 51px;
  letter-spacing: 0px;
  font-weight: 400;
  
}

h3 {
  font-size: 26px;
  letter-spacing: 0px;
  font-weight: 400;
  
}

h4 {
  font-size: 21px;
  letter-spacing: 0.15px;
  font-weight: 400;
  
}

h5 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
  
}

h6 {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 400;
  
}

body{
  font-family: 'Mulish', sans-serif;
  
}

.container{
  padding: 0px 20px;
  margin: 0px auto;

}

.landing,
.blog-landing{
  background-image: url("./icons/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 20px;
  margin: 30px auto;
  color: white;

}

.landing-color,
.blog-landing-image{
  background-color: rgba(0, 0, 0, 85%);
  border-radius: 20px;
  margin: 0px auto;
  color: white;
  padding: 200px 50px;
  
}

.blog-landing-image {
  padding: 250px 50px 50px 50px;
}


.black_background{
  background-color: black;
}

.blog-content{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.blog-content-left{
  width: 55%;
}

.blog-content-left h4{
  margin-bottom: 10px;
  margin-top: 30px;
}

.blog-content-left h5 {
  margin-bottom: 20px;
}

.blog-content-right{
  width: 40%;
}

.blog-content-right img{
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  border: 1px solid #d9d9d9ff;
  border-radius: 100px;
  max-width: 1200px;
  margin: 0px auto;
  position: fixed;
  right: 30px;
  left: 30px;
  top: 50px;
  background-color: white;
  animation: slideDown 1s ease-out forwards;
  z-index: 100;
}


a{
  text-decoration: none;
  color: black;
}

.left-header-container img{
  width: 48px;
  height: 48px;
}

.right-header-container{
  display: flex;
  gap: 20px;
}

.right-header-container h4 {
  font-weight: 600;
}

.about-me{
  padding: 100px 30px;
}

.about-me-cont{
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 700px;
  
}

.small-header{
  display: none;
}

.about-me-cont-text{
  width: 60%;
  background-color: #f5f5f5;
  padding: 60px 50px;
  border-radius: 30px;
  color: #000000E0;
  box-sizing: border-box;
}

.about-me-cont-image{
  width: 40%;
  height: 100%;
  
}

.about-heading{
  margin-bottom: 10px;
  color: #000000A6;
  font-weight: 600;
}

.about-me-cont-image img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.stacks{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px auto;
  padding: 150px 20px;
  
}

.stacks-up,
.stacks-down{
  display: flex;
  gap: 30px;
  justify-content: center;

}

.stack-image{
  width: 48px;
  height: 48px;
}

.stack-image img{
  width: 100%;
  height: 100%;
}

.stack{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 20px 10px;
  border-radius: 50px
}

.stack-head{
  color: #000000A6 ;
  font-weight: 600;
  margin-bottom: 5px;
}

.stack-head-cont{
  margin: 0px 0px 0px 50px;
}

.Projects{
  background-color: black;
  border-radius: 20px;
  margin: 30px auto;
  color: white;
  padding: 150px 50px;
 
}

.project-head-cont{
  margin-bottom: 20px;
}

.project-head-cont h5{
  margin-bottom: 10px;
}

.project-head-cont-btn{
  display: flex;
  padding: 2px 2px;
  background-color: #f5f5f5;
  width: fit-content;
  border-radius: 50px;
  gap: 5px;
  margin: 30px auto;
  border: none;
}

.project-head-cont-btn button{
  border-radius: 50px;
}

.blog-container,
.mola-container,
.workforce-container{
  border-radius: 30px;
  padding: 150px 50px;
  display: flex;
  align-items: center;
  gap: 20%;
  margin-bottom: 30px;

}

.project-head-cont-body{
  display: flex;
  justify-content: center;
}

.project-head-cont-body a{
  background-color: black;
  color: white;
  
}
.blog-content-left h5{
  white-space: pre-wrap;
}


.project-head-cont-body img {
  width: 24px;
  height: 24px;
}

.blog-container{
  background: linear-gradient(139deg, rgb(255, 175, 119) 2.33%, rgb(255, 241, 119) 96.28%);
  color: black;

}

.mola-container{
  background: linear-gradient(139deg, rgb(146, 171, 252) 2.33%, rgb(146, 214, 252) 96.28%);
  color: black;
  display: none;
}

.workforce-container{
  background: linear-gradient(139deg, rgb(186, 128, 230) 2.33%, rgb(230, 128, 220) 96.28%);
  color: black;
  display: none;
}

.blog-container-right{
  width: 30%;
  height: 300px;
  border-radius: 15px;
}

.blog-container-left{
  width: 40%;

}

.blog-container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  
}

.sub-stack{
  display: flex;
  align-items: center;
  gap: 10px;

}

.sub-stack img{
  width: 12px;
  height: 12px;
  
}

.sub-stack-javascript,
.sub-stack-node-js,
.sub-stack-mongoDB{
  height: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 15px;
  background-color: #f5f5f5;
  color: black;
  
}

.blog-container h5,
.mola-container h5,
.workforce-container h5{
  width: 100%;
  margin-top: 40px;
}

.blog-container h3,
.mola-container h3,
.workforce-container h3{
  margin-bottom: 15px;
}

.footer{
  margin: 200px auto;
  text-align: center;
}

.footer-btn{
  justify-content: center;
  margin: 30px auto;
  gap: 10px;
  
}

.footer h2{
  margin-bottom: 15px;
}

.mern{
  color: #1f614b;
  font-weight: 600;
}

.footer-btn a{
  background-color: black;
  color: white;

}
.sec-color{
  color: #1f614b;
  font-weight: 600;


}

.copyright{
  background-color: black;
  padding: 20px 30px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.video_container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.video_container video{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.video_container:fullscreen video{
  width: 100%;
  height: 100%;

}
/*Keyframes for animation*/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .landing h3 {
    width: 80%;
  }
  .about-me {
    padding: 100px 0px;
  }


  .about-me-cont-text{
    width: 100%;
  }

  .stack{
    width: 80%;
  }

  .stacks{
    padding: 100px 20px;
  }

  .stacks-up,
  .stacks-down{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .stack-head-cont{
    margin: 0px;
  }

  .Projects{
    padding: 30px 15px;
  }

  .blog-container{
    flex-direction: column-reverse;
    gap: 5px;
    padding: 30px 15px;

  }

  .mola-container,
  .workforce-container{
    display: none;
    flex-direction: column-reverse;
    gap: 5px;
    padding: 30px 15px;
  }

  .blog-container-left,
  .blog-container-right{
    width: 100%;

  }

  .blog-container h5,
  .mola-container h5,
  .workforce-container h5 {
    margin-top: 10px;
  }

  .blog-container h3,
  .mola-container h3,
  .workforce-container h3 {
    margin-bottom: 5px;
  }

  .footer{
    margin: 100px auto;

  }

  .blog-content{
    flex-direction: column;
    padding: 50px 20px;

  }

  .blog-content-left{
    width: 100%;
  }

  .blog-content-right{
    display: none;
  }

  /* nav bar*/
  .small-top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .small-header {
    background-color: white;
    display: none;
    flex-direction: column;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0px auto;
    position: fixed;
    right: 20px;
    left: 20px;
    top: 20px;
    background-color: white;
    height: 450px;
    z-index: 1000;
    border: 1px solid #d9d9d9ff;
  }

  .nav-bold {
    font-weight: 600;
    margin: 30px 20px;

  }

  .small-header-nav {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }

  .small-header-nav-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .small-header-nav .btn {
    background-color: black;
    z-index: 1000;
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    box-sizing: border-box;

  }


  
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .landing h3 {
    width: 100%;
  }

  .email,
  .linkedIn{
    display: none;
  }

  .landing-color,
  .blog-landing-image{
    padding: 100px 15px;
  }

  .blog-landing-image {
    padding: 250px 30px 30px 30px;
  }

  .container{
    padding: 0px 2px;
  }

  .hamburger{
    display: flex;
  }
  
  .right-header-container h4{
    display: none;
  }

  .main-header{
    top: 20px;
    right: 20px;
    left: 20px;
    padding: 10px 10px;
  }

  .about-me {
    padding: 50px 0px;
  }

  .about-me-cont{
    padding: 100px 0px;
    height: 900px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .about-me-cont-image{
    width: 100%;
  }


  .about-me-cont-text{
    width: 100%;
    padding: 40px 15px;
  }


  .landing,
  .blog-landing{
    margin: 5px auto;
  }

  .stack{
    width: 100%;
    gap: 5px;
  }

  .blog-container {
    flex-direction: column-reverse;
    gap: 5px;
    padding: 30px 10px;
  }

  .blog-container-right{
    height: 200px;
  }

  .stack-image {
    width: 24px;
    height: 24px;
  }

  .stacks-up,
  .stacks-down {
    justify-content: center;

  }

  .figma{
    display: none;
  }

  .about-me {
    margin: 100px 0px 50px 0px;
  }

 


}