@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.btn{
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
  gap: 2px;
  border: none;
  background-color: white;
  color: black;
  width: fit-content;
  cursor: pointer;
  box-sizing: border-box;

}


.button_cont img{
  width: 24px;
  height: 24px;

}

.button_cont button {
  display: flex;
  align-items: center;

}

.landing h3{
  width: 60%;
}

.bio-head{
  color: #78fabd;
}

.button_cont{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 80px;

}


h1 {
  font-size: 103px;
  letter-spacing: -1.5px;
  font-weight: 300;
  
}

h2 {
  font-size: 51px;
  letter-spacing: 0px;
  font-weight: 400;
  
}

h3 {
  font-size: 26px;
  letter-spacing: 0px;
  font-weight: 400;
  
}

h4 {
  font-size: 21px;
  letter-spacing: 0.15px;
  font-weight: 400;
  
}

h5 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
  
}

h6 {
  font-size: 15px;
  letter-spacing: 0.25px;
  font-weight: 400;
  
}

body{
  padding: 0px 20px;
  font-family: 'Mulish', sans-serif;
}

.landing {
  background-color: black;
  border-radius: 20px;
  margin: 30px auto;
  color: white;
  padding: 200px 50px;

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  border: 1px solid #d9d9d9ff;
  border-radius: 100px;
  max-width: 1200px;
  margin: 0px auto;
  position: fixed;
  right: 30px;
  left: 30px;
  top: 50px;
  background-color: white;
}

a{
  text-decoration: none;
  color: black;
}

.left-header-container img{
  width: 48px;
  height: 48px;
}

.right-header-container{
  display: flex;
  gap: 20px;
}

.right-header-container h4 {
  font-weight: 600;
}

.about-me{
  padding: 100px 30px;
}


.about-me-cont{
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 20px;
}

.about-me-cont-text{
  width: 60%;
  background-color: #f5f5f5;
  padding: 60px 50px;
  border-radius: 30px;
  color: #000000E0;
}

.about-me-cont-image{
  width: 40%;
  height: 570px;
  
}

.about-heading{
  margin-bottom: 10px;
  color: #000000A6;
  font-weight: 600;
}

.about-me-cont-image img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.stacks{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px auto;
  padding: 150px 20px;
  
}

.stacks-up,
.stacks-down{
  display: flex;
  gap: 30px;
  justify-content: center;

}

.stack-image{
  width: 48px;
  height: 48px;
}

.stack-image img{
  width: 100%;
  height: 100%;
}

.stack{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 20px 10px;
  border-radius: 50px
}
.stack-head{
  color: #000000A6 ;
  font-weight: 600;
  margin-bottom: 5px;
}

.stack-head-cont{
  margin: 0px 0px 0px 50px;
}

.Projects{
  background-color: black;
  border-radius: 20px;
  margin: 30px auto;
  color: white;
  padding: 150px 50px;
 
}

.project-head-cont{
  margin-bottom: 20px;
}

.project-head-cont h5{
  margin-bottom: 10px;

}

.project-head-cont-btn{
  display: flex;
  padding: 2px 2px;
  background-color: #f5f5f5;
  width: fit-content;
  border-radius: 50px;
  gap: 5px;
  margin: 30px auto;
  border: none;
}

.project-head-cont-btn button{
  border-radius: 50px;
}

.blog-container,
.mola-container,
.workforce-container{
  border: 1px solid white;
  border-radius: 30px;
  padding: 150px 50px;
  display: flex;
  align-items: center;
  gap: 20%;
  margin-bottom: 30px;

}

.blog-container-right{
  width: 30%;
  height: 300px;
  border: 1px solid red;
  border-radius: 15px;
}

.blog-container-left{
  width: 40%;

}

.blog-container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  
}

.sub-stack{
  display: flex;
  align-items: center;
  gap: 10px;

}
.sub-stack img{
  width: 12px;
  height: 12px;
  
}

.sub-stack-javascript,
.sub-stack-node-js,
.sub-stack-mongoDB{
  height: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 15px;
  background-color: #f5f5f5;
  color: black;
  
}

.blog-container h5,
.mola-container h5,
.workforce-container h5{
  width: 100%;
  margin-top: 40px;
}

.blog-container h3,
.mola-container h3,
.workforce-container h3{
  margin-bottom: 15px;
}



@media (max-width: 1024px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
}